- id: '1697759634706'
  alias: Turn off underbed lights
  description: ''
  trigger:
  - platform: time
    at: 06:31:00
  condition: []
  action:
  - service: light.turn_off
    data: {}
    target:
      entity_id:
      - light.left_underbed
      - light.right_underbed
  mode: single
- id: '1697826124111'
  alias: Turn gordon on
  description: ''
  trigger:
  - platform: state
    entity_id:
    - input_boolean.gordon
    to: 'on'
  condition: []
  action:
  - service: remote.send_command
    data:
      device: gordon
      command: power
    target:
      entity_id: remote.broadlink_blaster
  - delay:
      hours: 0
      minutes: 0
      seconds: 0
      milliseconds: 30
  - service: remote.send_command
    data:
      device: gordon
      command: flip_star
      num_repeats: 2
      delay_secs: 1
    target:
      entity_id: remote.broadlink_blaster
  mode: single
- id: turngordonoff
  alias: Turn gordon off
  description: ''
  trigger:
  - platform: state
    entity_id:
    - input_boolean.gordon
    to: 'off'
  condition: []
  action:
  - service: remote.send_command
    data:
      device: gordon
      command: power
    target:
      entity_id: remote.broadlink_blaster
  - delay:
      hours: 0
      minutes: 0
      seconds: 0
      milliseconds: 30
  - service: remote.send_command
    data:
      device: gordon
      command: flip_star
    target:
      entity_id: remote.broadlink_blaster
  mode: single
- id: '1698712179394'
  alias: Turn off alexa when the tv is on
  description: ''
  triggers:
  - entity_id:
    - media_player.lg_webos_smart_tv
    to: 'on'
    trigger: state
  conditions:
  - condition: state
    entity_id: media_player.asshat
    state: playing
  actions:
  - data: {}
    target:
      entity_id: media_player.asshat
    action: media_player.media_stop
  mode: single
- id: '1701572414568'
  alias: disable garage light auto off
  description: ''
  trigger:
  - platform: state
    entity_id:
    - input_boolean.garage_light_automation
  condition: []
  action:
  - service: automation.toggle
    data: {}
    target:
      entity_id:
      - automation.motion_garage_fridge_light_off_2
      - automation.motion_garage_light_off_2
      - automation.motion_laundry_light_off_2
  mode: single
- id: '1702660654016'
  alias: Dog Medication Reminder
  description: ''
  triggers:
  - at: 08:00:00
    trigger: time
  conditions:
  - condition: template
    value_template: '{{ now().day == 15 }}'
  actions:
  - data:
      message: Reminder to give HeartGuard and NexGuard to Parsley
      title: Mediation Reminder
    action: notify.mobile_app_christine_timons_iphone
  - data:
      message: Reminder to give HeartGuard and NexGuard to Parsley
      title: Mediation Reminder
    action: notify.mobile_app_johns_phone
  mode: single
- id: '1712599478326'
  alias: Garage Automation Toggle
  description: Toggle the automated light shut off in the garage
  trigger:
  - device_id: f0f18b22f81557e65f75eeae05940e7f
    domain: zha
    platform: device
    type: remote_button_short_press
    subtype: button
  condition: []
  action:
  - target:
      entity_id:
      - input_boolean.garage_light_automation
    data: {}
    action: input_boolean.toggle
  mode: single
- id: '1718754606982'
  alias: Doorbell Camera
  description: ''
  triggers:
  - type: turned_on
    device_id: fbee2d6078bbd0cb02673fd2ec1781a0
    entity_id: 900b12948b8959a58e967f65606ea94e
    domain: binary_sensor
    trigger: device
  conditions: []
  actions:
  - action: browser_mod.popup
    data:
      dismissable: true
      autoclose: false
      title: Front Door Cam
      timeout: 60000
      size: fullscreen
      deviceID:
      - Lounge Browser
      - Craftroom Browser
      content:
        camera_view: live
        type: picture-glance
        entities: []
        camera_image: camera.doorbell
  mode: single
- id: '1722902770003'
  alias: Govee On
  description: ''
  trigger:
  - platform: device
    device_id: 2c53eca3cdfe50ea384f161f5b09d999
    domain: media_player
    entity_id: e54a3c2f9a0150839d6985484c32ebef
    type: turned_on
  condition: []
  action:
  - type: turn_on
    device_id: a5eacb3d4477818e0d7fa8867c2e4b2f
    entity_id: 340b779076a396197015c41ea562ec18
    domain: light
  mode: single
- id: '1722902825916'
  alias: Govee Off
  description: ''
  trigger:
  - platform: device
    device_id: 2c53eca3cdfe50ea384f161f5b09d999
    domain: media_player
    entity_id: e54a3c2f9a0150839d6985484c32ebef
    type: turned_off
  condition: []
  action:
  - type: turn_off
    device_id: a5eacb3d4477818e0d7fa8867c2e4b2f
    entity_id: 340b779076a396197015c41ea562ec18
    domain: light
  mode: single
- id: '1727376559152'
  alias: Turn fish pump back on
  description: ''
  trigger:
  - platform: device
    type: turned_off
    device_id: 1af15c636dd18e07ac637816980b04d3
    entity_id: 921ac978262840c3520495f662feca5e
    domain: switch
    for:
      hours: 0
      minutes: 30
      seconds: 0
  condition: []
  action:
  - type: turn_on
    device_id: 1af15c636dd18e07ac637816980b04d3
    entity_id: 921ac978262840c3520495f662feca5e
    domain: switch
  mode: single
- id: '1733015219236'
  alias: Outdoor shower lights on
  description: ''
  triggers:
  - type: value
    device_id: 8401efbb6cfe8a81853114070159e506
    entity_id: 55153f5fe8f99e36552648060dff9e80
    domain: sensor
    trigger: device
    above: 4
  conditions: []
  actions:
  - action: light.turn_on
    metadata: {}
    data:
      transition: 0
      brightness_pct: 100
    target:
      entity_id: light.shower_light
  mode: single
- id: '1733015312120'
  alias: outdoor shower lights off
  description: ''
  triggers:
  - type: value
    device_id: 8401efbb6cfe8a81853114070159e506
    entity_id: 55153f5fe8f99e36552648060dff9e80
    domain: sensor
    trigger: device
    below: 4
  conditions:
  - condition: state
    entity_id: light.bar_light
    state: 'off'
  actions:
  - action: light.turn_off
    metadata: {}
    data: {}
    target:
      entity_id: light.shower_light
  mode: single
- id: '1735326125362'
  alias: Kitchen Sink Light on
  description: ''
  triggers:
  - type: moist
    device_id: d9c50c5dd1129030d3a16683530a830f
    entity_id: 2b4d0ad1469f4ec8f675581f9b91d430
    domain: binary_sensor
    trigger: device
  conditions: []
  actions:
  - type: turn_on
    device_id: 4a9011c4cf416d90b0df1fdd87253f76
    entity_id: 41c0f52e254f60f5cb9e182e57baed63
    domain: switch
  mode: single
- id: '1736287482498'
  alias: CHristine's gets into bed
  description: 'Christine gets in to bed '
  triggers:
  - trigger: state
    entity_id:
    - binary_sensor.christine_in_bed
    from: 'off'
    to: 'on'
  conditions:
  - condition: time
    after: '17:30:00'
    before: 08:00:00
  actions:
  - action: light.turn_off
    target:
      entity_id:
      - light.left_underbed
    data: {}
  mode: single
- id: '1736287696699'
  alias: CHristine's underbed light on
  description: 'Christine gets out of bed '
  triggers:
  - trigger: state
    entity_id:
    - binary_sensor.christine_in_bed
    from: 'on'
    to: 'off'
  conditions:
  - condition: time
    after: '20:00:00'
    before: 06:30:00
  actions:
  - action: light.turn_on
    data:
      brightness_pct: 25
      rgb_color:
      - 255
      - 191
      - 0
    target:
      entity_id:
      - light.left_underbed
      - light.under_cabinet_light
  mode: single
- id: '1736287731216'
  alias: Daily Backup
  description: ''
  triggers:
  - trigger: time
    at: 00:00:00
  conditions: []
  actions:
  - action: hassio.backup_full
    data: {}
  mode: single
- id: '1736287767116'
  alias: Notify Dryer Cycle Completed
  description: ''
  triggers:
  - entity_id: sensor.dryer_is_running
    trigger: state
    from: 'true'
    to: 'false'
    for:
      minutes: 1
  conditions:
  - condition: state
    entity_id:
    - person.christine
    state: home
  actions:
  - action: notify.mobile_app_christine_timons_iphone
    data:
      message: The dryer has finished its cycle
      title: Dryer Done
  mode: single
- id: '1736287803306'
  alias: John's underbed light off
  description: 'John gets in to bed '
  triggers:
  - trigger: state
    entity_id:
    - binary_sensor.john_in_bed
    from: 'off'
    to: 'on'
  conditions:
  - condition: time
    after: '17:00:00'
    before: 08:00:00
  actions:
  - action: light.turn_off
    target:
      entity_id:
      - light.right_underbed
    data: {}
  mode: single
- id: '1736287824193'
  alias: John's underbed light on
  description: 'John gets out of bed '
  triggers:
  - trigger: state
    entity_id:
    - binary_sensor.john_in_bed
    from: 'on'
    to: 'off'
    for:
      seconds: 1
  conditions:
  - condition: time
    after: '20:00:00'
    before: 06:30:00
  actions:
  - action: light.turn_on
    data:
      brightness_pct: 25
      rgb_color:
      - 255
      - 191
      - 0
    target:
      entity_id:
      - light.right_underbed
      - light.under_cabinet_light
  mode: single
- id: '1736287894077'
  alias: Master bedroom door open
  description: ''
  triggers:
  - entity_id: binary_sensor.lumi_master_bedroom_contact_1
    trigger: state
    from: 'off'
    to: 'on'
  conditions: []
  actions:
  - action: notify.mobile_app_christine_timons_iphone
    data:
      message: The Master Bedroom Door has opened
      title: Master Bedroom Door
  mode: single
- id: '1736287985178'
  alias: Notify Wash Cycle Completed
  description: ''
  triggers:
  - entity_id: sensor.washing_machine_is_running
    trigger: state
    from: 'true'
    to: 'false'
    for:
      minutes: 1
  conditions:
  - condition: state
    entity_id:
    - person.christine
    state: home
  actions:
  - action: notify.mobile_app_christine_timons_iphone
    data:
      message: The washing machine has finished its cycle
      title: Washing Machine Done
  mode: single
- id: '1736288054177'
  alias: Event sync pool and value water level
  description: ''
  triggers:
  - trigger: mqtt
    topic: homie/PoolDuino-pool/level/level
  conditions: []
  actions:
  - action: mqtt.publish
    data:
      topic: poolduino-valve/waterlevel
      payload: '{{ trigger.payload }}'
  mode: single
- id: '1736288327028'
  alias: night light 1 on
  description: ''
  triggers:
  - trigger: time
    at: '21:00:00'
  conditions: []
  actions:
  - action: switch.turn_on
    metadata: {}
    data: {}
    target:
      entity_id: switch.night_light_1_switch
  mode: single
- id: '1736288362429'
  alias: night light 1 off
  description: ''
  triggers:
  - trigger: time
    at: 06:00:00
  conditions: []
  actions:
  - action: switch.turn_off
    metadata: {}
    data: {}
    target:
      entity_id: switch.night_light_1_switch
  mode: single
- id: '1736893459164'
  alias: motion kitchen light off
  description: ''
  triggers:
  - entity_id: binary_sensor.tuyatec_kitchen_motion
    to: 'off'
    for: 00:05:00
    trigger: state
  conditions: []
  actions:
  - target:
      entity_id:
      - switch.zwave_kitchen_sink_light
      - switch.kichen_zwave_switch
    action: switch.turn_off
    data: {}
  mode: single
- id: '1736893514538'
  alias: motion kitchen light on
  description: ''
  triggers:
  - trigger: state
    entity_id: binary_sensor.tuyatec_kitchen_motion
    to: 'on'
  conditions:
  - condition: or
    conditions:
    - condition: sun
      after: sunset
      after_offset: -01:00:00
    - condition: sun
      before: sunrise
      before_offset: -01:30:00
    - condition: numeric_state
      entity_id: sensor.kitchen_lux
      below: 300
  actions:
  - action: switch.turn_on
    entity_id: switch.kichen_zwave_switch
  mode: single
- id: '1738290386254'
  alias: night light 3 on
  description: ''
  triggers:
  - trigger: sun
    event: sunset
    offset: 0
  conditions: []
  actions:
  - type: turn_on
    device_id: 836b38afac62c67995781c7cceeab0ba
    entity_id: 1785ee5c0d6f1f42b93d817def98d0ca
    domain: switch
  mode: single
- id: '1738290439022'
  alias: nightlight 3 off
  description: ''
  triggers:
  - trigger: sun
    event: sunrise
    offset: 0
  conditions: []
  actions:
  - type: turn_off
    device_id: 836b38afac62c67995781c7cceeab0ba
    entity_id: 1785ee5c0d6f1f42b93d817def98d0ca
    domain: switch
  mode: single
- id: '1740007949039'
  alias: test off off
  description: ''
  triggers:
  - device_id: 56f7b27d5625ddb256d3c10a3f14ff56
    domain: zwave_js
    type: zwave_js.value_updated.value
    trigger: device
    command_class: 37
    property: currentValue
    from: 'false'
    to: 'false'
    endpoint: '0'
  conditions: []
  actions:
  - action: notify.mobile_app_johns_phone
    metadata: {}
    data:
      message: light off
  - type: turn_off
    device_id: 4a9011c4cf416d90b0df1fdd87253f76
    entity_id: dd218d73fab1db9f4b490e5cb64ca860
    domain: light
  mode: single
- id: '1748979445550'
  alias: Downstairs Bathroom Light On
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - binary_sensor.zooz_downstairs_bathroom_motion
    to: 'on'
  - trigger: numeric_state
    entity_id:
    - binary_sensor.lnlinkha_e04b4101547a000000000000d6ac0000_2
    above: 0
  conditions: []
  actions:
  - choose:
    - conditions:
      - condition: state
        entity_id: input_boolean.house_is_asleep
        state: 'on'
      sequence:
      - action: light.turn_on
        metadata: {}
        data:
          brightness_pct: 17
        target:
          entity_id: light.bathroom_switch
    - conditions:
      - condition: state
        entity_id: input_boolean.house_is_asleep
        state: 'off'
      sequence:
      - action: light.turn_on
        metadata: {}
        data:
          brightness_pct: 100
        target:
          entity_id: light.bathroom_switch
  mode: single
- id: '1748979843156'
  alias: Downstairs Bathroom light off
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - binary_sensor.lnlinkha_e04b4101547a000000000000d6ac0000_2
    to: 'off'
  conditions: []
  actions:
  - action: light.turn_off
    metadata: {}
    data: {}
    target:
      entity_id: light.bathroom_switch
  mode: single
- id: '1749255573560'
  alias: Turn off downstairs bathroom light if on too long and no one is home (smart
    retry)
  description: 'Turns off the downstairs bathroom light if on too long and no one
    is home.  If someone is home, waits for them to leave before acting.

    '
  triggers:
  - entity_id: light.bathroom_switch
    to: 'on'
    for: 00:10:00
    trigger: state
  actions:
  - choose:
    - conditions:
      - condition: state
        entity_id: binary_sensor.lnlinkha_e04b4101547a000000000000d6ac0000_2
        state: 'off'
      sequence:
      - target:
          entity_id: light.bathroom_switch
        action: light.turn_off
        data: {}
    - conditions:
      - condition: state
        entity_id: binary_sensor.lnlinkha_e04b4101547a000000000000d6ac0000_2
        state: 'on'
      sequence:
      - wait_for_trigger:
        - entity_id:
          - binary_sensor.lnlinkha_e04b4101547a000000000000d6ac0000_2
          trigger: state
          to: 'off'
        timeout: 00:15:00
        continue_on_timeout: false
      - condition: state
        entity_id: light.bathroom_switch
        state: 'on'
      - target:
          entity_id: light.bathroom_switch
        action: light.turn_off
        data: {}
  mode: single
