esphome:
  name: backup-garage-opener

esp8266:
  board: d1_mini

# Enable logging
logger:

# Enable Home Assistant API
api:

ota:
  platform: esphome
  password: "205ce855dd3ffad63df8d00bf6454be5"

wifi:
  min_auth_mode: 
    WPA2
  networks:
  - ssid: !secret garage_ssid
    password: !secret wifi_password
    priority: 10
  - ssid: !secret wifi_ssid
    password: !secret wifi_password


switch:
  - platform: gpio
    name: "Garage Door Backup"
    id: relay
    pin: 5
    on_turn_on:
    - delay: 500ms
    - switch.turn_off: relay