esphome:
  name: pool-fill-valve

esp8266:
  board: d1_mini
  restore_from_flash: True

# Enable logging
logger:

# Enable Home Assistant API
api:

ota:
  platform: esphome
  password: "160d34d0461d81954e3e8000bfc2eb26"

wifi:
  networks:
  - ssid: !secret backyard_ssid
    password: !secret wifi_password
    priority: 10
  - ssid: !secret wifi_ssid
    password: !secret wifi_password


switch:
  - platform: gpio
    name: Pool Valve
    pin: D2
  - platform: gpio
    name: Pool Autofill
    pin: D1
    restore_mode: ALWAYS_ON


binary_sensor:
  - platform: gpio
    pin:
      number: D5
      mode: input_pullup 
    name: "Garden Water"
    id: garden_water
    filters:
      - invert:
    # on_press:
      #- switch.turn_on: garden_water
    #on_release:
      #- switch.turn_off: garden_water